
.main-section{
    display: flex;
    align-items: center;
    justify-content: center;

}


.section-left{
    max-width: 586px;
    max-height: 250px;
    background-color:#FBFBFB ;
    margin-top: 52px;
    display: flex;
    align-items: center;
    margin-right: 25px;

    .img{
        max-width: 300px;
        align-self: flex-end;
    }

}

.text-left{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    margin-right: 25px;

    .h1-text{
font-family: Cera Pro;
font-weight: 900;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
text-transform: uppercase;
margin-bottom: 0px;
    }


    .p-text{
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
color: #727272;
margin: 12px;
    }


  .btn{
opacity: 1;
border-radius: 6px;
border: none;
background-color:#46A358 ;
color: #FFFFFF;
width: 140px;
height: 40px;
margin-left: auto;
margin-top: 10px;
     }

}

.div-zagolovok{
    margin-top: 100px;
}


.zagolovok{
    font-family: Cera Pro;
font-weight: 700;
font-size: 30px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
color:#3D3D3D ;
}


.p-zagolovok{
    font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #727272;
}